# Cycle Flow 
## Prediction Model

In [15]:
import pandas as pd
df=pd.read_csv('data.csv')

In [2]:
df

,Unnamed: 0,Age,LengthofCycle,LengthofLutealPhase,EstimatedDayofOvulation,LengthofMenses
0,0,36,29,12,17,5
1,1,,27,12,15,5
2,2,,29,14,15,5
3,3,,27,12,15,5
4,4,,28,12,16,5
...,...,...,...,...,...,...
1507,1659,,32,13,19,7
1508,1660,,29,10,19,8
1509,1661,,28,11,17,6
1510,1662,,28,12,16,5
1511,1663,,40,13,27,6

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1512 entries, 0 to 1511
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               1512 non-null   int64
 1   Age                      1512 non-null   object
 2   LengthofCycle            1512 non-null   int64
 3   LengthofLutealPhase      1512 non-null   int64
 4   EstimatedDayofOvulation  1512 non-null   int64
 5   LengthofMenses           1512 non-null   int64
dtypes: int64(5), object(1)
memory usage: 71.0+ KB

In [3]:
X=df[['LengthofCycle','LengthofMenses','LengthofLutealPhase']]

In [4]:
Y=df['EstimatedDayofOvulation']

# Training the Model

In [5]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import numpy as np

## Features of Data

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.3, random_state = 0)

In [7]:
model=LinearRegression()

In [8]:
model.fit(X_train, y_train)

LinearRegression()

In [14]:
cycle_length=int(input("Enter the length of cycle "))
Menses_Length=int(input("Enter the length of Menses "))
luetal_phase=int(input("Enter the length of Luteal Phase "))
result=model.predict([[cycle_length,Menses_Length,luetal_phase]])
int_result=np.int(result)

print('Estimated Day of Ovulation is',round(int_result),'day')

Enter the length of cycle 30
Enter the length of Menses 5
Enter the length of Luteal Phase 19
Estimated Day of Ovulation is 11 day

In [10]:
X_train

      LengthofCycle  LengthofMenses  LengthofLutealPhase
249              30               6                   19
649              26               5                   13
1018             25               6                    9
501              30               6                   15
1405             28               6                   12
...             ...             ...                  ...
763              28               6                   11
835              25               6                   11
1216             29               6                    8
559              33               5                   14
684              37               6                   12

[1058 rows x 3 columns]