In [1]:
import pandas as pd
df=pd.read_csv('data.csv')

In [2]:
df

,Unnamed: 0,Age,LengthofCycle,LengthofLutealPhase,EstimatedDayofOvulation,LengthofMenses
0,0,36,29,12,17,5
1,1,,27,12,15,5
2,2,,29,14,15,5
3,3,,27,12,15,5
4,4,,28,12,16,5
...,...,...,...,...,...,...
1507,1659,,32,13,19,7
1508,1660,,29,10,19,8
1509,1661,,28,11,17,6
1510,1662,,28,12,16,5
1511,1663,,40,13,27,6

In [3]:
X=df[['LengthofCycle','LengthofMenses','LengthofLutealPhase']]

In [4]:
Y=df['EstimatedDayofOvulation']

In [5]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import numpy as np

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.3, random_state = 0)

In [7]:
model=LinearRegression()

In [8]:
model.fit(X_train, y_train)

LinearRegression()

In [9]:
import pickle
pickle.dump(model, open('cycle_clf.pkl', 'wb'))